body {
    background-color: black;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    /* margin: 50px 50px 50px 50px; */
    padding: 10px 10px 10px 10px;

}


.priceH1 {
    padding: 10px 10px 10px 10px;
    margin: 0;
    /* border: 1px solid bisque; */
    border-radius: 10px;
}

table,
th,
td {
    border: 1px solid bisque;
    color: bisque;
    padding: 10px 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}


.list {
    color: bisque;
    font-size: 20px;
}